<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisas do Usuário</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Descrição</th>
                <th>Data da Pesquisa</th>
                <th>Status</th>
                <th>Figura Pública</th>
                <th>Tipo de Serviço</th>
                <th>Usuario</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pesq:${pesquisas}">
                <td th:text="${pesq.descricao}"></td>
                <td th:text="${#temporals.format(pesq.dataPesquisa, 'dd/MM/yyyy')}"></td>
                <td th:text="${pesq.statusPesquisa}"></td>
                <td>
                    <span th:each="fig : ${pesq.figuraPublica}" th:text="${fig.nome}"></span>
                </td>
                <td th:text="${pesq.tipoServico.descricao}"></td>
                <td th:text="${pesq.usuario.nome}"></td>
                <td>
                <!--                <a th:href="@{/editoras/detalhes/}+${livro.editora.id}" th:text="${livro.editora.nome}"></a>-->
                </td>
                <td>
                <!--                <a th:href="@{/livros/editar/}+${livro.id}" class="btn btn-sm btn-primary">Concluido</a>-->
                </td>
                <td>
                <!--                <button th:onclick="|document.getElementById('livroId').value = ${livro.id}|" type="button" class="btn btn-sm btn-danger"-->
                <!--                        data-bs-toggle="modal" data-bs-target="#modalExcluir">Excluir</button>-->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a th:href="@{/principal}" class="btn btn-primary">Voltar</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>