<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisas do Usuário</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div class="container mt-4">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Descrição</th>
                <th>Data da Pesquisa</th>
                <th>Status</th>
                <th>Figura Pública</th>
                <th>Tipo de Serviço</th>
                <th>Usuario</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pesq:${pesquisas}">
                <td th:text="${pesq.descricao}"></td>
                <td th:text="${#temporals.format(pesq.dataPesquisa, 'dd/MM/yyyy')}"></td>
                <td th:text="${pesq.statusPesquisa.label}"></td>
                <td>
                    <span th:each="fig : ${pesq.figuraPublica}" th:text="${fig.nome}"></span>
                </td>
                <td th:text="${pesq.tipoServico.descricao}"></td>
                <td th:text="${pesq.usuario.nome}"></td>
                <td>
                    <button type="button" class="btn btn-sm btn-success"
                            th:onclick="|document.getElementById('pesquisaId').value = ${pesq.codigo}|"
                            data-bs-toggle="modal" data-bs-target="#modalAtualizar">
                        Concluido
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="modalAtualizar" tabindex="-1" aria-labelledby="modalAtualizarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAtualizarLabel">Confirmação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    O Status da Pesquisa será definido como Concluído
                </div>
                <div class="modal-footer">
                    <form th:action="@{/pesquisas/concluir}" method="post">
                        <input type="hidden" name="pesquisaId" id="pesquisaId">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-success">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a th:href="@{/principal}" class="btn btn-primary">Voltar</a>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>