<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #e7f3ff; /* Cor de fundo azul claro */
        }
        .card {
            margin-top: 50px;
            border: none; /* Remove a borda do card */
        }
        .btn-primary {
            background-color: #007bff; /* Cor azul padrão */
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
            border-color: #0056b3;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="alert alert-success"
                         th:if="${msg !=null}" th:text="${msg}">
                    </div>
                    <div class="card-header d-flex justify-content-end align-items-center">
                        <h4 style="margin-right: 95px;">Bem-vindo(a)!</h4>
                        <a th:href="@{/logout}" class="btn btn-outline-secondary">Logout</a>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Selecione uma das opções abaixo:</p>
                        <div style="margin: 15px">
                            <a type="button" class="btn btn-primary" th:href="@{/pesquisas/cadastrar}">Nova Pesquisa</a>
                        </div>
                        <div style="margin: 15px">
                            <a type="button" class="btn btn-primary" th:href="@{/clientes/detalhes}">Detalhes da conta</a>
                        </div>
                        <div style="margin: 15px">
                            <a type="button" class="btn btn-primary" th:href="@{/pesquisas/todas-pesquisas}">Mostrar todas as Pesquisas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>